@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* font  */
  --font-body: "Quicksand", sans-serif;
  --font-nav: "Taviraj", serif;

  /* color */
  --text-color: #000000;
  --text-color-light: #181818;
  --text-color-red: #e82d2d;
  --subtitle-color: #c3c0bc;
  --text-color-white: #fff;
  --container-color: #e5e5e5;
  --color-icon: #6c6969;
  /* Font size */
  --big-font-size: 30px;
  --h2-font-size: 24px;
  --normal-font-size: 14px;
  --small-font-size: 12px;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* *font weight: */
  --font-medium: 500;
  --font-bold: 600;
  --font-weight-b: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: border-box;
}
/*===== BASE =====*/

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
  background-color: transparent;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
li {
  list-style: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}
body {
  font-family: var(--font-body);
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

/* =========================text hover=========================   */
/* ==============================================text-hover ===================================*/
.text-hover {
  position: relative;
  text-decoration: none;
}
.text-hover:after,
.text-hover:before {
  transition: 00.4s;
}

.text-hover:hover,
.text-hover:focus {
  outline: 0;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.4s ease-in-out;
}
.text-hover:hover:after,
.text-hover:focus:after {
  background-color: var(--text-color);
}

.text-hover:hover:after,
.text-hover:focus:after,
.text-hover:hover:before,
.text-hover:focus:before {
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
/* text-hover-underline-goes */
.text-hover-underline-goes-right:after {
  content: "";
  position: absolute;
  transition-property: width;
  width: 0;
  height: 1px;
  transition: 0.4s;
}
.text-hover-underline-goes-right:hover:after,
.text-hover-underline-goes-right:focus:after {
  outline: 0;
  transition-property: width;
  width: 100%;
}
.text-hover-underline-goes-right:after {
  left: 0;
  bottom: 0;
}
.text-hover.active {
  color: var(--text-color);
}
.text-hover.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: var(--text-color);
}

/* =================================slide show ==================================*/
.slideshow-content {
  display: flex;
  overflow-x: hidden;
}
.slideshow-content img {
  max-width: 100vw;
}

#main-slideshow {
  /* z-index: 1; */
  clear: both;
  /* overflow: hidden; */
  position: relative;
  /* margin-left: -200px; */
}
.mySlides {
  max-width: 100vw;
}
.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 2px solid white;
  margin: 5px;
  background-color: transparent;
  cursor: pointer;
}
.dot.active {
  background-color: var(--text-color-white);
}
.slick {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  color: #fff;
  font-size: 30px;
}
.slick div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  color: transparent;
  border-radius: 100rem;
  cursor: pointer;
}
.slick div i {
  font-size: 35px;
}
#main-slideshow:hover .slick div {
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.2);
}
.slideshow-content {
  transition: 0.9s;
}
